@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/buttons

// --------------------------------

:root {
  --btn-font-size: 1.2em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-xxs);
  --btn-radius: var(--radius-md);
}

.btn {
  background: var(--color-bg-dark);
  color: var(--color-contrast-higher);
  cursor: pointer;
  font-family: var(--font-primary);
  text-transform: capitalize;
  text-decoration: none;
  line-height: 1;
  @include fontSmooth;
  box-shadow: var(--shadow-xs);
  outline-offset: 1;
  transition: all s ease;
  will-change: transform;

  &:hover {
    background: var(--color-black);
    color: var(--color-white);
    box-shadow: var(--shadow-xl);
    transition: box-shadow 0.3s var(--ease-in) 0.5s, background 0.3s var(--ease-in-out), color 0.5s var(--ease-in-out);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background: var(--color-bg-dark);
  color: var(--color-not-black-darker);
  border-radius: var(--radius-md);
  padding: var(--space-xxs) var(--space-md);
  font-family: var(--font-primary);
  font-size: 1.2em;
  text-transform: uppercase;
  line-height: 1;
  @include fontSmooth;

  &:hover {
    background: var(--color-black);
    color: var(--color-bg-dark);
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: var(--shadow-lg);
  }

  &:focus {
    box-shadow: inset 0px 1px 0px alpha(var(--color-white), 0.15), 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background: var(--color-bg-lighter);
  color: var(--color-contrast-high);
  box-shadow: inset 0px 0px 0px 1px var(--color-contrast-lower), var(--shadow-xs);

  &:hover {
    background: var(--color-bg);
    color: var(--color-contrast-low);
    box-shadow: inset 0px 0px 0px 1px var(--color-contrast-lower), var(--shadow-sm);
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 1px var(--color-contrast-lower), 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.05);
  }
}

.btn--accent {
  background: var(--color-bg-dark);
  color: var(--color-in-the-pink-darker);
  box-shadow: inset 0px 1px 0px alpha(var(--color-white), 0.15), var(--shadow-xs);

  &:hover {
    background: var(--color-in-the-pink);
    color: var(--color-black);
    box-shadow: inset 0px 1px 0px alpha(var(--color-white), 0.15), var(--shadow-sm);
  }

  &:focus {
    box-shadow: inset 0px 1px 0px alpha(var(--color-white), 0.15), 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
  font-size: 0.8em;
}

.btn--md {
  font-size: 1.2em;
}

.btn--lg {
  font-size: 1.4em;
}

// --------------------------------

// (END) Global editor code

// --------------------------------