@use '../base' as *;

// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: 'Dongle', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  // font size
  --text-base-size: 1em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇
  
  // line-height
  --body-line-height: 1.25;
  --heading-line-height: 1.2;
  
  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-secondary-capital-letter: 1.25;

  // unit - don't modify unless you want to change the typography unit (e.g., from Rem to Em units)
  --text-unit: 1em; // if Em units → --text-unit: 1em;
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}


@include breakpoint(xs) {
  :root {
    --text-base-size: .5em;
    --text-scale-ratio: .5;
  }
}

@include breakpoint(sm) {
  :root {
    --text-base-size: .75em;
    --text-scale-ratio: .75;
  }
}

@include breakpoint(md) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1;
  }
}

@include breakpoint(lg) {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}

@include breakpoint(xl) {
  :root {
    --text-base-size: 1.5em;
    --text-scale-ratio: 1.25;
  }
}

body {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  --heading-font-weight: 700;
}

// font family
.font-primary { font-family: var(--font-primary); }
.font-secondary { font-family: var(--font-secondary); }

// color
.color-nerd-blue-darker { color: alpha(var(--color-nerd-blue-darker), var(--color-o, 1)); }
.color-nerd-blue-dark { color: alpha(var(--color-nerd-blue-dark), var(--color-o, 1)); }
.color-nerd-blue { color: alpha(var(--color-nerd-blue), var(--color-o, 1)); }
.color-nerd-blue-light { color: alpha(var(--color-nerd-blue-light), var(--color-o, 1)); }
.color-nerd-blue-lighter { color: alpha(var(--color-nerd-blue-lighter), var(--color-o, 1)); }
.color-red-head-darker { color: alpha(var(--color-red-head-darker), var(--color-o, 1)); }
.color-red-head-dark { color: alpha(var(--color-red-head-dark), var(--color-o, 1)); }
.color-red-head { color: alpha(var(--color-red-head), var(--color-o, 1)); }
.color-red-head-light { color: alpha(var(--color-red-head-light), var(--color-o, 1)); }
.color-red-head-lighter { color: alpha(var(--color-red-head-lighter), var(--color-o, 1)); }
.color-in-the-pink-darker { color: alpha(var(--color-in-the-pink-darker), var(--color-o, 1)); }
.color-in-the-pink-dark { color: alpha(var(--color-in-the-pink-dark), var(--color-o, 1)); }
.color-in-the-pink { color: alpha(var(--color-in-the-pink), var(--color-o, 1)); }
.color-in-the-pink-light { color: alpha(var(--color-in-the-pink-light), var(--color-o, 1)); }
.color-in-the-pink-lighter { color: alpha(var(--color-in-the-pink-lighter), var(--color-o, 1)); }
.color-stick-icky-darker { color: alpha(var(--color-stick-icky-darker), var(--color-o, 1)); }
.color-stick-icky-dark { color: alpha(var(--color-stick-icky-dark), var(--color-o, 1)); }
.color-stick-icky { color: alpha(var(--color-stick-icky), var(--color-o, 1)); }
.color-stick-icky-light { color: alpha(var(--color-stick-icky-light), var(--color-o, 1)); }
.color-stick-icky-lighter { color: alpha(var(--color-stick-icky-lighter), var(--color-o, 1)); }
.color-not-black-darker { color: alpha(var(--color-not-black-darker), var(--color-o, 1)); }
.color-not-black-dark { color: alpha(var(--color-not-black-dark), var(--color-o, 1)); }
.color-not-black { color: alpha(var(--color-not-black), var(--color-o, 1)); }
.color-not-black-light { color: alpha(var(--color-not-black-light), var(--color-o, 1)); }
.color-not-black-lighter { color: alpha(var(--color-not-black-lighter), var(--color-o, 1)); }

// gradient
.color-gradient-primary-top { background-image: linear-gradient(0deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-right { background-image: linear-gradient(90deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-bottom { background-image: linear-gradient(180deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-primary-left { background-image: linear-gradient(270deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.color-gradient-secondary-top { background-image: linear-gradient(0deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.color-gradient-secondary-right { background-image: linear-gradient(90deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.color-gradient-secondary-bottom { background-image: linear-gradient(180deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.color-gradient-secondary-left { background-image: linear-gradient(270deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.color-gradient-tertiary-top { background-image: linear-gradient(0deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.color-gradient-tertiary-right { background-image: linear-gradient(90deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.color-gradient-tertiary-bottom { background-image: linear-gradient(180deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.color-gradient-tertiary-left { background-image: linear-gradient(270deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }

// --------------------------------

// (END) Global editor code

// --------------------------------

// link style
a, .link {}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-space-y-multiplier: 1;
  
  > * { // use Em units
    --text-unit: 1em;
    --space-unit: 1em;
  }

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-lower);
    font-style: italic;
  }

  hr {
    background: var(--color-contrast-lower);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-low);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-space-y-multiplier: 1.2; // control vertical spacing
}