@use '../base' as *;

/* -------------------------------- 

File#: _1_svg-image-clip
Title: Svg Image Clip
Descr: Image clipped using a SVG element
Usage: codyhouse.co/license

-------------------------------- */


