@use '../base' as *;
@use '_1_card-v12.scss' as *;

/* -------------------------------- 

File#: _2_feature-v18
Title: Feature v18
Descr: A gallery of cards over a background image
Usage: codyhouse.co/license

-------------------------------- */