@use '../base' as *;
@use '_1_switch-icon.scss' as *;
@use '_2_main-header-v3.scss' as *;
@use '_1_feature-v9.scss' as *;

/* -------------------------------- 

File#: _3_intro-v2
Title: Intro v2
Descr: Intro section including the main header and 2 content blocks
Usage: codyhouse.co/license

-------------------------------- */