@use '../base' as *;
@use '_1_anim-menu-btn.scss' as *;
@use '_1_search-input.scss' as *;
@use '_2_flexi-header.scss' as *;
@use '_1_feature-v4.scss' as *;

/* -------------------------------- 

File#: _3_intro-v3
Title: Intro v3
Descr: Intro section including the main header and a feature block
Usage: codyhouse.co/license

-------------------------------- */