.responsive-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fourohfour-container, .fourohfour, fourohfour-text-componant{
    background-color: white;
    color: black;
    height: 100vh;

}

.image-wrapper-four{    
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourohfour-img{
    bottom: 0;
    margin-top: 12vh;
}

.fourohfour-text{
    color: black;
}

.contact-form{
    padding: 5vh 15vw;
}

.hidden{
    display: none;
}